nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main{max-width: 840px;
}

main img{
    width: 150%;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid #000;
    padding: 1rem;
    background-color: #d4d3d3;
    color: #000;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

p {padding: 0;
}

